.container {
  width: 360px;
  margin: 20px auto;
  text-align: center;
}

a {
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  margin-top: 20px;
  color: #586069;
  padding: 10px 0px;
  border: 1px solid #d3d3d3;
  text-decoration: none;
  display: inline-block;
}

input {
  height: 22px;
  padding: 6px;
  font-size: 16px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
  width: 96%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
  color: #d3d3d3;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  color: #d3d3d3;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  color: #d3d3d3;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  color: #d3d3d3;
}

.search-input {
  margin-top: 20px;
}
